# ==============================================================================
# aNivel Backend - Variables de Entorno de Ejemplo
# ==============================================================================

# Seguridad
SECRET_KEY=django-insecure-x3y9a%i=vt8mc4_5+!w-grs!&f)5s7=vhio01eo1hr5norr)nl
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de Datos (PostgreSQL)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=anivelDB
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# CORS
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
